/*/////////////////////////////////

    Data Policy Modal

//////////////////////////////////*/


/*
    Data Policy - Colors
*/

$modal-data-policy-backdrop-color: black !default;
$modal-data-policy-background-color: white !default;
$modal-data-policy-text-color: black !default;
$modal-data-policy-primary-color: black !default;
$modal-data-policy-secondary-color: rgb(150, 150, 150) !default;


/*
    Data Policy - Main
*/

// Position fix for the body scrollbar
// when showing the modal
body {
    &.is-modal-data-policy-open {
        overflow: hidden;

        /* @include respond-to(desktop) {
            padding-right: 15px;
        } */
    }
}

.modal-data-policy {
    @include transition(opacity, .2s, 0s);
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
    }
}

.modal-data-policy__backdrop {
    background-color: $modal-data-policy-backdrop-color;
    height: 100%;
    left: 0;
    opacity: .6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}


/*
    Data Policy - Modal Content wrappers
*/

.modal-data-policy__body-title {
    color: $modal-data-policy-text-color;
    font-size: 25px;
    line-height: 1;
    margin-top: 48px;

    @include respond-to(tablet) {
        font-size: 36px;
        padding: 0;
    }
}

.modal-data-policy__body-description {
    color: $modal-data-policy-text-color;
    font-size: 16px;
    line-height: 22px;
    margin-top: 28px;

    @include respond-to(tablet) {
        margin: 28px auto 0;
    }
}

.modal-data-policy__body-data {
    margin-top: 40px;

    @include respond-to(tablet) {
        margin-top: 70px;
    }
}

.modal-data-policy__wrapper {
    background-color: $modal-data-policy-background-color;
    border-radius: 3px;
    cursor: auto;
    margin: 30px 15px 15px;
    min-height: calc(100% - 60px);
    overflow: hidden;
    position: relative;

    @include respond-to(tablet) {
        margin: 80px auto 50px;
        min-height: inherit;
        width: 650px;
    }
}

.modal-data-policy__container {
    position: relative;
}


/*
    Data Policy - Modal header
*/

.modal-data-policy__header {
    background-color: $modal-data-policy-background-color;
    border-bottom: 0;
    color: $modal-data-policy-text-color;
    padding: 19px 25px 10px;
    position: relative;

    @include respond-to(tablet) {
        padding: 25px 35px 25px;
    }
}

.modal-data-policy__swiper-header {
    position: relative;
    z-index: 0;
}

.modal-data-policy__back-btn {
    @include transition();
    color: $modal-data-policy-primary-color;
    font-size: 16px;
    left: 25px;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    top: 23px;
    z-index: 5;

    span {
        @include transition();
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }

    @include respond-to(tablet) {
        left: 30px;
        top: 29px;
    }

    @include respond-to(desktop) {
        &:hover {
            span {
                border-bottom: 2px solid $modal-data-policy-primary-color;
                color: $modal-data-policy-primary-color;
                text-decoration: none;
            }
        }
    }

    &.is-active {
        cursor: pointer;
        opacity: 1;
    }

    .modal-data-policy__arrow {
        border: solid $modal-data-policy-primary-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        position: relative;
        top: -1px;

        &.is-left {
            transform: rotate(135deg);
        }
    }
}

.modal-data-policy__header-title {
    box-sizing: border-box;
    font-size: 16px;
    padding: 0 30px;
    text-align: center;
}

.modal-data-policy__close {
    @include transition();
    border-radius: 100%;
    color: $modal-data-policy-primary-color;
    cursor: pointer;
    font-size: 20px;
    height: 19px;
    line-height: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 21px;
    width: 30px;
    z-index: 5;

    @include respond-to(tablet) {
        right: 19px;
        top: 29px;
    }

    &:before,
    &:after {
        background-color: $modal-data-policy-primary-color;
        content: ' ';
        height: 18px;
        left: 15px;
        position: absolute;
        width: 2px;
    }

    @include respond-to(tablet) {
        height: 20px;
    }

    @include respond-to(desktop) {
        &:hover {
            opacity: .7;
        }
    }

    &:before {
        @include transform(rotate(45deg));
    }

    &:after {
        @include transform(rotate(-45deg));
    }
}

.modal-data-policy__content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    min-height: 100%;
    position: relative;
}

.modal-data-policy__body {
    background-color: $modal-data-policy-background-color;
    padding: 0 30px 30px 30px;
    text-align: left;

    @include respond-to(tablet) {
        padding: 0 60px 60px;
    }

    @include respond-to(desktop) {
        padding: 0 60px 100px 60px;
    }
}

.modal-data-policy__navigation-wrapper {
    box-sizing: border-box;
    align-items: center;
    background-color: $modal-data-policy-background-color;
    bottom: 0;
    box-shadow: 0 0 5px 0 rgba($modal-data-policy-text-color, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 130px;
    padding: 26px 40px 13px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 10;

    .modal-data-policy__navigation-button {
        @include transition();
        background-color: $modal-data-policy-primary-color;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 100px;
        color: $modal-data-policy-background-color;
        cursor: pointer;
        font-size: 18px;
        padding: 14px 15px 13px;
        width: 100%;

        @include respond-to(desktop) {
            font-size: 20px;
            padding: 14px 70px 13px;
            width: auto;

            &:not(:disabled) {
                &:hover {
                    background-color: rgba(0, 0, 0, 0);
                    border: 2px solid $modal-data-policy-primary-color;
                    color: $modal-data-policy-primary-color;
                }
            }
        }

        &:disabled {
            background-color: rgba($modal-data-policy-text-color, 0.3);
            cursor: default;
        }
    }

    .modal-data-policy__navigation-link {
        @include transition();
        color: $modal-data-policy-secondary-color;
        font-size: 15px;
        margin-top: 13px;
        text-decoration: none;


        @include respond-to(desktop) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/*
    Data Policy - Swiper
*/

.modal-data-policy__swiper-content {
    .swiper-slide {
        padding-bottom: 120px;
    }
}

.modal-data-policy__swiper-header {
    .swiper-slide:not(.swiper-slide-active) {
        opacity: 0 !important;
    }
}

.modal-data-policy__swiper-content {
    // Fix this being modified
    // globally somewhere else
    .swiper-wrapper {}

    .swiper-pagination-custom {
        border-spacing: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;

        @include respond-to(tablet) {
            top: -11px;
        }
    }

    .swiper-pagination-bullet {
        background-color: $modal-data-policy-secondary-color;
        border: 0;
        display: inline-block;
        margin: 0 6px;
        opacity: 0.7;

        &.swiper-pagination-bullet-active {
            background-color: $modal-data-policy-primary-color;
            border: 0;
        }
    }
}


/*
    Data Policy - Accordion
*/

.modal-data-policy__accordion-wrap {
    .modal-data-policy__accordion-btn__content {
        display: none;
        height: auto;
        overflow: hidden;

        p {
            color: $modal-data-policy-text-color;
            font-size: 16px;
            font-weight: normal;
            line-height: 22px;
            margin: 0;
            padding-bottom: 18px;
            text-align: left;
        }
    }

    .modal-data-policy__accordion-item {
        border-top: 1px solid $modal-data-policy-secondary-color;

        &.open {
            .modal-data-policy__accordion-arrow {
                border-color: $modal-data-policy-text-color;
                top: 0;
                transform: rotate(-135deg);
            }

            .modal-data-policy__accordion-label {
                color: $modal-data-policy-text-color;
            }
        }

        &:first-of-type {
            border: none;
        }
    }

    .modal-data-policy__accordion-btn {
        border-top: 1px solid $modal-data-policy-secondary-color;
        color: $modal-data-policy-text-color;
        display: flex;
        flex-direction: row;
        font-size: 18px;
        justify-content: space-between;
        left: 0;
        padding: 12px 8px 4px 0;
        position: relative;
        text-align: left;

        .modal-data-policy__accordion-label {
            @include transition();
            border-bottom: 2px solid rgba(0, 0, 0, 0);

        }

        @include respond-to(tablet) {
            padding: 14px 8px 10px 0;
        }

        @include respond-to(desktop) {
            &:hover {
                .modal-data-policy__accordion-label {
                    border-bottom: 2px solid $modal-data-policy-text-color;
                    color: $modal-data-policy-text-color;
                    text-decoration: none;
                }
            }
        }

        &:first-of-type {
            border-radius: 5px 5px 0 0;
            border-top: none;
        }

        &:hover {
            cursor: pointer;
        }

        .modal-data-policy__accordion-arrow {
            @include transition();
            border: solid $modal-data-policy-text-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            height: 0;
            padding: 5px;
            position: relative;
            transform: rotate(45deg);
            transform-origin: 75% 75%;
        }
    }
}


/*
    Data Policy - Form
*/

.modal-data-policy__form-data {
    margin-top: 28px;

    @include respond-to(tablet) {
        margin-top: 68px;
        padding: 0;
    }
}

.modal-data-policy__form-data__item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    @include respond-to(tablet) {
        margin-top: 15px;
    }
}

input[type="checkbox"].modal-data-policy__form-data__checkbox {
    display: unset;
    border-radius: 0;
    margin: 3px 0 0;
}

.modal-data-policy__form-data__label {
    color: $modal-data-policy-text-color;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    padding-left: 28px;
    text-align: left;

    [required] ~ &::before {
        content: "* ";
    }
}

.modal-data-policy__form-required-info {
    color: $modal-data-policy-secondary-color;
    font-size: 11px;
    display: block;
    text-align: left;
    margin-top: 15px;

    @include respond-to(tablet) {
        padding: 0 40px;
    }
}
