<div class="modal-data-policy" ng-if="isOpen">
    <div class="modal-data-policy__wrapper">

        <!-- Header -->
        <div class="modal-data-policy__header">
            <div class="modal-data-policy__back-btn" ng-class="{'is-active': activeIndex > 0}" ng-click="back()">
                <i class="modal-data-policy__arrow is-left"></i>
                <span>{{ 'modal_data_policy.back'|translate }}</span>
            </div>
            <div class="modal-data-policy__swiper-header">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="modal-data-policy__header-title">
                            {{ 'modal_data_policy.data_policy'|translate }}
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="modal-data-policy__header-title">
                            {{ 'modal_data_policy.communications'|translate }}
                        </div>
                    </div>
                </div>
            </div>
            <span class="modal-data-policy__close" ng-click="cancel()"></span>
        </div>

        <!-- Body -->
        <div class="modal-data-policy__container">
            <div class="modal-data-policy__swiper-content">

                <!-- Swiper pagination - combined to use for both connected Swipers -->
                <div class="swiper-pagination-custom"></div>

                <div class="modal-data-policy__content swiper-wrapper">

                    <!-- Data Policy: section 1 -->
                    <div class="swiper-slide">
                        <div class="modal-data-policy__body">
                            <h3 class="modal-data-policy__body-title" ng-bind="content.title_step_1"></h3>
                            <div class="modal-data-policy__body-description" ng-bind="content.text_step_1"></div>
                            <div class="modal-data-policy__body-data">
                                <div class="modal-data-policy__accordion-wrap js-accordion-wrap">
                                    <div class="modal-data-policy__accordion-item" ng-repeat="item in content.policies">
                                        <div class="modal-data-policy__accordion-btn js-accordion-btn">
                                            <span class="modal-data-policy__accordion-label" ng-bind="item.content.title"></span>
                                            <i class="modal-data-policy__accordion-arrow"></i>
                                        </div>
                                        <div class="modal-data-policy__accordion-btn__content js-accordion-content">
                                            <p ng-bind="item.content.data_policy_item_text"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Data Policy: section 2 -->
                    <div class="swiper-slide">
                        <div class="modal-data-policy__body">
                            <h3 class="modal-data-policy__body-title" ng-bind="content.title_step_2"></h3>
                            <div class="modal-data-policy__body-description" ng-bind="content.text_step_2"></div>
                            <div class="modal-data-policy__body-data">
                                <div class="modal-data-policy__form-data">
                                    <form class="js-modal-data-policy-form" ng-click="validate($event)">
                                        <div class="modal-data-policy__form-data__item" ng-repeat="item in content.communications">
                                            <input id="{{ item.id }}"
                                                type="checkbox"
                                                class="modal-data-policy__form-data__checkbox"
                                                ng-model="item.accepted"
                                                ng-required="item.required">
                                            <label for="{{ item.id }}"
                                                class="modal-data-policy__form-data__label"
                                                ng-bind="item.text"></label>
                                        </div>
                                    </form>
                                </div>

                                <span class="modal-data-policy__form-required-info">
                                    {{ 'modal_data_policy.required'|translate }} (*)
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Footer -->
        <section class="modal-data-policy__navigation-wrapper">
            <button class="modal-data-policy__navigation-button"
                ng-bind="buttonValue()" ng-click="next()" ng-disabled="!isSubmittable()"></button>
            <a href="{{ 'modal_data_policy.why_url'|translate }}" target="_black" class="modal-data-policy__navigation-link">
                {{ 'modal_data_policy.why'|translate }}
            </a>
        </section>
    </div>

    <!-- Backdrop -->
    <div class="modal-data-policy__backdrop" ng-click="cancel()"></div>
</div>